@model AppWebHojaCosto.Models.HOJA_COSTO_ESTANDAR
<div>
    <fieldset style="border-width:2px; border-style:groove; padding:10px;" disabled>
        <legend style="padding: 2px; width:auto;">Resumen General Costo Produccion</legend>
        <div class="row">
            <div class="col-md-8">
                @Html.LabelFor(model => model.TBL_RES_GEN_COS_PRD.FirstOrDefault().RpCostoMaterialesD, new { @class = "control-label" })
            </div>
            <div class="col-md-4">
                <div class="input-group mb-1">
                    @Html.TextBoxFor(model => model.TBL_RES_GEN_COS_PRD.FirstOrDefault().RpCostoMaterialesD, new { @class = "form-control input-sm formato" })
                    <div class="input-group-append">
                        <span class="input-group-text">COP</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                @Html.LabelFor(model => model.TBL_RES_GEN_COS_PRD.FirstOrDefault().RpCostoConversionD, new { @class = "control-label" })
            </div>
            <div class="col-md-4">
                <div class="input-group mb-1">
                    @Html.TextBoxFor(model => model.TBL_RES_GEN_COS_PRD.FirstOrDefault().RpCostoConversionD, new { @class = "form-control input-sm formato" })
                    <div class="input-group-append">
                        <span class="input-group-text">COP</span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>
<div class="inferior_modulos">
    <div class="row">
        <div class="col-md-8">
            @Html.LabelFor(model => model.TBL_HOJA_COSTO_PN.FirstOrDefault().HcTotalCosPrdD, new { @class = "control-label" })
        </div>
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.TBL_HOJA_COSTO_PN.FirstOrDefault().HcTotalCosPrdD, new { @class = "form-control input-sm formato input-vacio-gris" })
        </div>
    </div>
</div>