@model AppWebHojaCosto.Models.HOJA_COSTO_ESTANDAR
<div>
    <fieldset style="border-width:2px; border-style:groove; padding:10px;" disabled>
        <legend style="padding: 2px; width:auto;">INSUMOS Y ACCESORIOS</legend>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-sm table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>@Html.LabelFor(model => model.TBL_INS_ACC.FirstOrDefault().IaNombreS, new { @class = "control-label" })</th>
                                <th>@Html.LabelFor(model => model.TBL_INS_ACC.FirstOrDefault().IaColorS, new { @class = "control-label" })</th>
                                <th>@Html.LabelFor(model => model.TBL_INS_ACC.FirstOrDefault().IaCtsxMtD, new { @class = "control-label" })</th>
                                <th>@Html.LabelFor(model => model.TBL_INS_ACC.FirstOrDefault().IaConF, new { @class = "control-label" })</th>
                                <th>@Html.LabelFor(model => model.TBL_INS_ACC.FirstOrDefault().IaTotalD, new { @class = "control-label" })</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.TBL_INS_ACC != null)
                            {
                                foreach (var item in Model.TBL_INS_ACC)
                                {
                                    <tr>
                                        <td>@Html.TextBoxFor(model => item.IaNombreS, new { @class = "form-control input-sm" })</td>
                                        <td>@Html.TextBoxFor(model => item.IaColorS, new { @class = "form-control input-sm" })</td>
                                        <td>@Html.TextBoxFor(model => item.IaCtsxMtD, new { @class = "form-control input-sm formato" })</td>
                                        <td>@Html.TextBoxFor(model => item.IaConF, new { @class = "form-control input-sm" })</td>
                                        <td>@Html.TextBoxFor(model => item.IaTotalD, new { @class = "form-control input-sm formato" })</td>
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="4" style="text-align:right; border:none !important; padding-top:10px;">
                                    @Html.LabelFor(model => model.TBL_HOJA_COSTO_PN.FirstOrDefault().HcTotalInsumoD, new { @class = "control-label" })
                                </th>
                                <th style="border:none !important;">
                                    @Html.TextBoxFor(model => model.TBL_HOJA_COSTO_PN.FirstOrDefault().HcTotalInsumoD, new { @class = "form-control input-sm formato input-vacio" })
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </fieldset>
</div>
@*<div class="inferior_modulos">
    <div class="row">
        <div class="col-md-10">
            @Html.LabelFor(model => model.TBL_HOJA_COSTO_PN.FirstOrDefault().HcTotalInsumoD, new { @class = "control-label" })
        </div>
        <div class="col-md-2">
            @if (Model != null)
            {
                @Html.DisplayFor(model => model.TBL_HOJA_COSTO_PN.FirstOrDefault().HcTotalInsumoD, new { @class = "form-control input-sm formato" })
            }
        </div>
    </div>
</div>*@