@model AppWebHojaCosto.Models.HOJA_COSTO_PRECOSTEO

<div>
    <fieldset style="border-width:2px; border-style:groove; padding:10px;">
        <legend style="padding: 2px; width:auto;">Piramide Precios</legend>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.TBL_PRE_HOJA_COSTO_PN.PreHcEnterPriceD, new { @class = "control-label" })
            </div>
            <div class="col-md-8">
                <div class="input-group mb-1">
                    @Html.TextBoxFor(model => model.TBL_PRE_HOJA_COSTO_PN.PreHcEnterPriceD, new { @class = "form-control input-sm solonumeros" })
                    <div class="input-group-append">
                        <span class="input-group-text">COP</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.TBL_PRE_HOJA_COSTO_PN.PreHcMediumPriceD, new { @class = "control-label" })
            </div>
            <div class="col-md-8">
                <div class="input-group mb-1">
                    @Html.TextBoxFor(model => model.TBL_PRE_HOJA_COSTO_PN.PreHcMediumPriceD, new { @class = "form-control input-sm solonumeros" })
                    <div class="input-group-append">
                        <span class="input-group-text">COP</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.TBL_PRE_HOJA_COSTO_PN.PreHcPremiumPriceD, new { @class = "control-label" })
            </div>
            <div class="col-md-8">
                <div class="input-group mb-1">
                    @Html.TextBoxFor(model => model.TBL_PRE_HOJA_COSTO_PN.PreHcPremiumPriceD, new { @class = "form-control input-sm solonumeros" })
                    <div class="input-group-append">
                        <span class="input-group-text">COP</span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>