@model AppWebHojaCosto.Models.PARAMETROS_PNP

@using (Html.BeginForm("Consultar", "ParametrosPnp", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(model => model._TBL_PARAM_PNP.PnFactorS, new { @class = "control-label" })
                @Html.DropDownListFor(model => model.Factor, new SelectList(
                  new List<Object>{
                       new { value = "" , text = "Seleccione"  },
                       new { value = "FR" , text = "Factor Real"  },
                       new { value = "FE" , text = "Factor Estimado" }
                    },
                  "value",
                  "text",
                   0), new { @id = "Tipo", @class = "form-control", @onclick = "FiltroMarca();" })
            </div>
            <div class="col-md-2">
                @Html.LabelFor(m => m._TBL_PARAM_PNP.PnMarcaS, new { @class = "control-label" })
                @*@Html.DropDownListFor(m => m._TBL_PARAM_PNP.PnMarcaS, new SelectList(Model.Marcas, "Value", "Text"), new { @id = "Marca", @class = "form-control", @required = "required" })*@
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" id="marca" name="marca" required />
                    <span class="input-group-append">
                        <button class="btn btn-outline-secondary border-left-0 border" type="button" id="ver-todo-marcas">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                @Html.LabelFor(m => m._TBL_PARAM_PNP.PnColeccionS, new { @class = "control-label" })
                @*@Html.DropDownListFor(m => m._TBL_PARAM_PNP.PnColeccionS, new SelectList(Model.Colecciones, "Value", "Text"), new { @id = "Coleccion", @class = "form-control", @required = "required" })*@
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" id="coleccion" name="coleccion" required />
                    <span class="input-group-append">
                        <button class="btn btn-outline-secondary border-left-0 border" type="button" id="ver-todo-coleccion">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                @Html.LabelFor(m => m._TBL_PARAM_PNP.PnLineaS, new { @class = "control-label" })
                @*@Html.DropDownListFor(m => m._TBL_PARAM_PNP.PnLineaS, new SelectList(Model.Lineas, "Value", "Text"), new { @id = "Linea", @class = "form-control", @required = "required" })*@
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" id="linea" name="linea" required />
                    <span class="input-group-append">
                        <button class="btn btn-outline-secondary border-left-0 border" type="button" id="ver-todo-linea">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                @Html.LabelFor(m => m._TBL_PARAM_PNP.PnSubLineaS, new { @class = "control-label" })
                @*@Html.DropDownListFor(m => m._TBL_PARAM_PNP.PnSubLineaS, new SelectList(Model.Sublineas, "Value", "Text"), new { @id = "Sublinea", @class = "form-control", @required = "required" })*@
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" id="sublinea" name="sublinea" required />
                    <span class="input-group-append">
                        <button class="btn btn-outline-secondary border-left-0 border" type="button" id="ver-todo-sublinea">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <div style="height:33px; width:10px;"></div>
                <button type="submit" id="btnConsultar" class="btn btn-sm btn-dark"><span class="fa fa-save"></span> Consultar</button>
                <button type="submit" id="btnNuevo" class="btn btn-sm btn-dark"><span class="fa fa-plus-circle"></span> Nuevo</button>
                <button type="button" id="btnLimpiar" class="btn btn-sm btn-dark" onclick="return false;"><span class="fa fa-undo"></span> Limpiar</button>
            </div>
        </div>
    </div>
}